<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Cycle Rocks!</title>
</head>
<body>
  <h1>Full Cycle Rocks!</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <% dados.forEach(dado => { %>
        <tr>
          <td><%= dado.cod_people %></td>
          <td><%= dado.des_name %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
